<div class="jumbotron">
  <div id="wrapper">
    <h1>Koleżeńska Giełda Ostrokołowa</h1>
    <p class="tight">Wszystkie ogłoszenia w jednym miejscu, zaufani sprzedawcy, 
      najlepszy asortyment, brak opłat - dowiedz się jak korzystać z KGO, 
      pomóż rozwijać społeczność i ułatw sobie i innym poszukiwanie części.</p>
    <p><%= link_to "Dowiedz się więcej", faq_path, :class => 
"btn btn-primary btn-lg, guzik_home" %>    </p>
  </div>
</div>
  
<div class="row">
  <div class='col-xs-2'>
    <h5><strong>Najnowsze ogłoszenia:</strong></h5>
  </div>
  
  <div class="col-xs-2 col-xs-offset-8 adverts_link">    
    <%= link_to ogloszenia_path do %>
      <p><h5>Wszystkie ogłoszenia<span class="glyphicon glyphicon-arrow-right"></span></h5></p>
    <% end %>
  </div>
</div>

<div class="row">

        <% @adverts.each do |ad| %>
          <div class="col-xs-6 col-sm-4 col-md-2">
            <%= link_to ad, class: "thumbnail thumb-advert thumb-transform" do %>

              <%= cl_image_tag ad.picture, width: 350, height: 300, crop: :fit %>

              <div class="caption">
                <h5><strong><%= tytul_format(ad.title) %></strong></h5>
                <p>Cena: <%= cena_format(ad.price) %></p>
                <p id="rozmiar"><small>
                  <% lista_rozmiar.each do |list| %>
                  <% if list[0] == ad.category %>
                  <%= list[1] + ": " + parse_zeros(ad.size1).to_s + list[2] if list[1].present? %><br>
                  <%= list[3] + ": " + parse_zeros(ad.size2).to_s + list[4] if list[3].present? %>
                  <% end %>
                <% end %>
                </small></p>
              </div>
            <% end %>
          </div>
        <% end %>        
        
</div>


  

