<% provide(:title, "Login") %>

<h1 class="center">Login</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

      <%= form_for :session, url: login_path do |f| %>

    <%= f.label :Login_lub_email, "Login lub e-mail" %>
      <%= f.text_field :username, class: "form_field form-control" %>

      <%= f.label :Hasło %>
        <%= f.password_field :password, class: "form_field form-control", id: "last" %>
      <%= link_to new_password_reset_path do %>
      <p class="tight" id="forgot"><small>Nie pamiętam hasła</small></p>
      <% end %>
      <div class="send-container">
        <%= f.submit "Zaloguj się", class: "btn btn-log btn-advert-edit btn-send" %>
      </div>
      <% end %>



      <p id="login_info" class="tight"><small>Nie jesteś jeszcze sprzedawcą? 
      <%= link_to "Dowiedz się jak zdobyć konto!", faq_path %></small></p>

  </div>
</div>