<% provide(:title, "Rejestracja") %>

<h1 class="center">Rejestracja</h1>

<div class="row">
  
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
    <%= f.label :Login %>
    <%= f.text_field :username, class: "form_field"  %>
    
    <%= f.label :Imię %>
    <%= f.text_field :name, class: "form_field"  %>
    
    <%= f.label :Nazwisko %>
    <%= f.text_field :surname, class: "form_field" %>
    
    <%= f.label :Email %>
    <%= f.email_field :email, class: "form_field"  %>
    
    <%= f.label :Adres %>
    <%= f.text_field :address, class: "form_field"  %>
    
    <%= f.label :Miasto %>
    <%= f.text_field :city, class: "form_field"  %>
    
    <%= f.label :Kod_pocztowy %>
    <%= f.text_field :zip, class: "form_field"  %>
    
    <%= f.label :Hasło %>
    <%= f.password_field :password, class: "form_field"  %>
    
    <%= f.label :Powtórz_hasło %>
    <%= f.password_field :password_confirm, class: "form_field"  %>
    
    <%= f.submit "Stwórz konto", class: "btn btn-reg" %>
    
    <% end %>
  </div>
  
</div>
