<%= provide(:title, @user.username) %>

<div class="row">
  
  

  <% if logged_in? && @user.id == @current_user.id %>
  
    <div class="col-sm-4">
      <h2><%= @user.username %></h2>
    </div>
  
    <div class="col-sm-4" id="dane">
    
      <h5><strong>Twoje dane:</strong></h5><br>

      <p>Imię:    <%= @current_user.name %></p>
      <p>E-mail:    <%= @current_user.email %></p>
      <p>Miejscowość:    <%= @current_user.city %></p>
      <p>Województwo:    <%= @current_user.wojewodztwo %></p>
      <%= link_to edit_user_path(current_user) do %>
      <button id="edytuj" type="button" class="btn btn-sm">Edytuj dane</button> <br>
      <% end %>
      
      <% if @current_user.admin? %>
        <%= link_to users_path do %>
        <button type="button" class="btn btn-sm">Lista użytkowników</button>
        <% end %>
      <% end %>

    </div>

    <div class="col-sm-8" id="twoje_ogloszenia">
      <h5><strong>Twoje ogłoszenia:</strong></h5>
    </div>
  
  <% else %>
  
    <div class="col-sm-12">
      <h2 id="user_nick"><%= @user.username %></h2>
      <p id="user_dane"><%= @user.name + ", " + @user.city %></p>
    </div>
  
    <div class="col-sm-12" id="produkty_box">
      <h5><strong>Sprzedaje:</strong></h5>
    </div>


  <% end %>
</div>
