<%= provide(:title, @user.username) %>

<div class="row">
  
  

  <% if logged_in? && @user.id == @current_user.id %>
  
    <div class="col-sm-4">
      <h2><%= @user.username %></h2>
    </div>
  
    <div class="col-sm-4" id="dane">
    
      <h5><strong>Twoje dane:</strong></h5><br>

      <p>Imię: <%= @current_user.name %></p>
      <p>E-mail: <%= @current_user.email %></p>
      <p>Miejscowość: <%= @current_user.city %></p>
      <p>Województwo: <%= @current_user.wojewodztwo %></p>
      <% if @current_user.fb_profile.present? %>
      <p>Facebook: <%= "fb.com/" + @current_user.fb_profile %></p>
      <% end %>
      <%= link_to edit_user_path(current_user) do %>
      <button id="edytuj" type="button" class="btn btn-sm btn-profile btn-advert-edit">Edytuj dane</button> 
      <% end %>
      
      <%= link_to new_invitation_path(current_user) do %>
      <button type="button" class="btn btn-sm btn-profile btn-advert-edit">Wyślij zaproszenie</button> 
      <% end %>
      
      <% if @current_user.admin? %>
        <%= link_to users_path do %>
        <button type="button" class="btn btn-sm btn-profile btn-advert-edit">Lista użytkowników</button>
        <% end %>
      <% end %>

    </div>

    <div class="col-sm-8" id="twoje_ogloszenia">
      <h5><strong>Twoje ogłoszenia:</strong></h5>
      <div class="row">
        
        <% @adverts.each do |ad| %>
          <div class="col-md-4">
            <%= link_to ad, class: "thumbnail thumb-advert thumb-transform" do %>
              <%= cl_image_tag ad.picture, width: 300, height: 300, crop: :fill %>
              <div class="caption">
                <h5><strong><%= tytul_format(ad.title) %></strong></h5>
                <p>Cena: <%= cena_format(ad.price) %></p>
                <p><small>
                  <%= opis_thumbnail(ad.content) + "..." %>
                </small></p>
                <p><small>
                  <% lista_rozmiar.each do |list| %>
                  <% if list[0] == ad.category %>
                  <%= list[1] + ": " + parse_zeros(ad.size1).to_s + list[2] if list[1].present? %><br>
                  <%= list[3] + ": " + parse_zeros(ad.size2).to_s + list[4] if list[3].present? %>
                  <% end %>
                <% end %>
                </small></p>
              </div>
            <% end %>
          </div>
        <% end %>        
        
      </div>
  </div>
  
  
  <% else %>
  <div class="col-sm-12">
    <div class="col-sm-12">
      <h2 id="user_nick">
        <% if @user.fb_profile.present? %>
        <%= link_to "http://fb.com/#{@user.fb_profile}", target: '_blank' do %>
            <i class="fa fa-facebook-official fb-link"></i>
          <% end %>
        <% end %><%= @user.username %></h2>
      <p id="user_dane">
        
        <%= @user.name + ", " + @user.city + ", " + @user.wojewodztwo %></p>
    </div>
  
    <div class="row">
      <div class="col-sm-12" id="produkty_box">
        <h5><strong>Sprzedaje:</strong></h5>
        
        <div class="row">
        
        <% @adverts.each do |ad| %>
          <div class="col-xs-6 col-sm-4 col-md-2">
            <%= link_to ad, class: "thumbnail thumb-advert thumb-transform" do %>

              <%= cl_image_tag ad.picture, width: 350, height: 300, crop: :fill %>

              <div class="caption">
                <h5><strong><%= tytul_format(ad.title) %></strong></h5>
                <p>Cena: <%= cena_format(ad.price) %></p>
                <p id="rozmiar"><small>
                  <% lista_rozmiar.each do |list| %>
                  <% if list[0] == ad.category %>
                  <%= list[1] + ": " + parse_zeros(ad.size1).to_s + list[2] if list[1].present? %><br>
                  <%= list[3] + ": " + parse_zeros(ad.size2).to_s + list[4] if list[3].present? %>
                  <% end %>
                <% end %>
                </small></p>
              </div>
            <% end %>
          </div>
        <% end %>        
        
      </div>
        
      </div>
    </div>


  <% end %>
</div>
</div>
