  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
    <%= render 'shared/error_msg', object: f.object %>
    
    <%= f.label :Login %>
    <%= f.text_field :username, class: "form_field form-control"  %>
    
    <%= f.label :Imię %>
    <%= f.text_field :name, class: "form_field form-control"  %>
    
    <%= f.label :Email %>
    <%= f.email_field :email, class: "form_field form-control"  %>
    
    <%= f.label :Miasto %>
    <%= f.text_field :city, class: "form_field form-control"  %>
    
    <%= f.label :Województwo %>
    <%= f.select :wojewodztwo, options_for_select(list_wojewodztwa.collect { |woj| [woj, woj] }), {}, { class: "form_field form-control" }  %>
    
    <%= f.label :Hasło %>
    <%= f.password_field :password, class: "form_field form-control"  %>
    
    <%= f.label :Powtórz_hasło %>
    <%= f.password_field :password_confirmation, class: "form_field form-control"  %>
    
    <%= f.submit logged_in? ? "Zapisz zmiany" : "Stwórz konto", class: "btn btn-reg" %>
    
    <% end %>
    
  </div>