<li class="list-group-item">
  Cena: <%= cena_format(@advert.price) %>
</li>

<li class="list-group-item">
Stan: <%= @advert.new == true ? "Nowy" : "Używany" %>
</li>

<% if @advert.category == 'rowery' %>

<li class="list-group-item">
Rura podsiodłowa: <%= @advert.size1.to_s + "cm" %>
</li>
<li class="list-group-item">
  Długość ramy: <%= parse_zeros(@advert.size2).to_s + "cm" %>
</li>

<% elsif @advert.category == 'ramy' %>

<li class="list-group-item">
Rura podsiodłowa: <%= @advert.size1.to_s + "cm" %>
</li>
<li class="list-group-item">
Długość ramy: <%= parse_zeros(@advert.size2).to_s + "cm" %>
</li>

<% elsif @advert.category == 'widelce' %>

<li class="list-group-item">
Długość sterówki: <%= @advert.size1.to_s + "cm" %>
</li>
<li class="list-group-item">
Pod średnicę: <%= parse_zeros(@advert.size2).to_s + "\"" %>
</li>

<% elsif @advert.category == 'korby' %>

<li class="list-group-item">
Długość ramienia: <%= @advert.size1.to_s + "cm" %>
</li>


<% elsif @advert.category == 'koła' %>

<li class="list-group-item">
Rozmiar: <%= @advert.size1.to_s + "\"" %>
</li>

<% elsif @advert.category == 'kierownice' %>

<li class="list-group-item">
Szerokość: <%= @advert.size1.to_s + "cm" %>
</li>
<li class="list-group-item">
Średnica mocowania: <%= parse_zeros(@advert.size2).to_s + "mm" %>
</li>

<% elsif @advert.category == 'mostki' %>

<li class="list-group-item">
Długość mostka: <%= @advert.size1.to_s + "mm" %>
</li>
<li class="list-group-item">
Średnica mocowania: <%= parse_zeros(@advert.size2).to_s + "mm" %>
</li>

<% elsif @advert.category == 'sztyce' %>

<li class="list-group-item">
Długość: <%= @advert.size1.to_s + "cm" %>
</li>
<li class="list-group-item">
Średnica: <%= parse_zeros(@advert.size2).to_s + "mm" %>
</li>

<% else %>



<% end %>

<li class="list-group-item">
Lokalizacja: <%= @advert.city + ", " + @advert.wojewodztwo %>
</li>

<% if @advert.gallery_link.present? %>
<li class="list-group-item">
  Galeria zdjęć: 
  <%= link_to @advert.gallery_link, id: "fb-advert-link", target: '_blank' do %>
      Przejdź
    <% end %>
</li>
<% end %>

<% if @advert.fb_link.present? %>
<li class="list-group-item">
  Ogłoszenie na fb: 
  <%= link_to "http://fb.com/#{@advert.fb_link}", id: "fb-advert-link", target: '_blank' do %>
      Przejdź
    <% end %>
</li>
<% end %>

<li class="list-group-item wystawione_przez">
  Wystawione przez: 
  <% if @advert.user.fb_profile.present? %>
  <%= link_to "http://fb.com/#{@advert.user.fb_profile}", id: "fb-advert" do %>
      <i class="fa fa-facebook-official fb-link"></i>
    <% end %>
  <% end %>
  <%= link_to @advert.user.username, @advert.user %>
</li>

<% unless logged_in? && @user.id == @advert.user.id %>
<li class="list-group-item btn message" data-toggle="modal" data-target="#contact_form"> 
    Wyślij zapytanie 
</li>

<% end %>  