<% provide(:title, "Nowe Ogłoszenie") %>

<h1 class="center">Dodaj nowe ogłoszenie</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    
    <%= form_for @advert do |f| %>
    
    <%= f.label :Nazwa_przedmiotu %>
    <%= f.text_field :title, class: "form_field form-control" %>
    
    <%= f.label :Zdjęcie %>
    <%= cl_image_upload_tag(:picture) %>
    
    <% end %>
    
  </div>
</div>
