<% provide(:title, @advert.title) %>

<div class="row" id="tekst_tytul">
  <h2 class="center"><%= @advert.title %></h2>
</div>

<%= render 'contact' %>

<div class="row" id="advert_content">
  <div class="col-sm-5 col-sm-offset-2">
    <%= link_to cloudinary_url(@advert.picture), class: "thumbnail thumb-advert" do %>
    <%= cl_image_tag @advert.picture, crop: :fill, class: "img-responsive" %>
    <% end %>
  </div>
  
  <div class="col-sm-3">
    
    <div class="panel panel-default first-panel square">
      <div class="panel-heading advert-heading">
        <h3 class="panel-title">            
        Podstawowe dane:
        </h3>
      </div>
    <ul class="list-group">
      <%= render "rozmiary" %>
    </ul>
  </div>         
    
    
  
    
  </div>  
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default square">
      <div class="panel-heading advert-heading">
      <h3 class="panel-title">Opis:</h3>
      </div>
      <div class="panel-body">
        <%= simple_format(@advert.content) %>
      </div>
    </div>
    </div>
</div>

<% if logged_in? && @user.id == @advert.user.id %>
<div class="row">
  <div class="col-sm-2">
    <%= link_to "Usuń ogłoszenie", @advert, method: :delete, data: { confirm: "Czy chesz usunąć to ogłoszenie (#{@advert.title})?" } %>
    <%= link_to "Edytuj ogłoszenie", edit_advert_path(@advert) %>
  </div>
</div>
<% end %>
