<header>
  <nav class = "navbar navbar-default navbar-fixed-top">
    <div class = "container">
      <div class = "navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my_navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("#", :alt => "KGO"), root_path, :class => "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="my_navbar">
        
          <%= form_tag szukaj_path, method: :get, :class => "navbar-form navbar-left", role: 'search' do |f| %>
          <div class="input-group">
            
            <%= text_field_tag :query, params[:query], class:"form-control", placeholder: "Szukaj..." %>
            <span class="input-group-btn">
              <%= button_tag type: 'submit', class: "btn", id: "search-btn" do %>
                <span class='glyphicon glyphicon glyphicon-search'></span>
              <% end %>
            </span>
            
          </div>
          <% end %>
        
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" 
               aria-haspopup="true" aria-expanded="false" href="#">Kategorie<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% lista_kategorie.each do |cat| %>
              <li><%= link_to cat.capitalize, adverts_path(category: cat), class: "linki_dropdown" %></li>
              <% end %>
            </ul>
          </li>                  
        </ul>
        
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" 
               aria-haspopup="true" aria-expanded="false" href="#">Lokalizacja<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% list_wojewodztwa.each do |woj| %>
              <li><%= link_to woj, adverts_path(wojewodztwo: woj), class: "linki_dropdown" %></li>
              <% end %>
            </ul>
          </li>                  
        </ul>
        
        
        
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
          
          <li><%= link_to new_advert_path do %>
            <span class="glyphicon glyphicon-plus"></span>
            <p class="hidden-sm inline"> Ogłoszenie</p>
            <% end %>
          </li>
          <li><%= link_to @current_user do %>
            <span class="glyphicon glyphicon-user"></span>
            <p class="hidden-sm inline"> Profil</p>
            <% end %>
          </li>
          <li><%= link_to logout_path, method: :delete do %>
            <span class="glyphicon glyphicon-log-out"></span>
            <p class="hidden-sm inline"> Wyloguj</p>
            <% end %>
          </li>
          
          <% else %>
          
          <li><%= link_to rejestracja_path do %>
                <span class="glyphicon glyphicon-user"></span><p class="hidden-sm inline">
            Rejestracja</p>
              <% end %>
          </li>
          <li><%= link_to login_path do %>
            <span class="glyphicon glyphicon-log-in"></span><p class="hidden-sm inline">
            Login</p>
            <% end %>
          </li>
          
          <% end %>
        </ul>
        
      </div>
      
    
    </div>  
  </nav>
</header>